#tunglop div{
  border: solid #ffffff;
  text-align: center;
}

#sort a{
  flex: 1 1 auto;
  background: tomato;
  padding: 1rem;
  border-radius: .5rem;
  border: solid #ffffff;
  text-align: center;
}

.noHover:hover{
  color: #198754;
  background-color: #ffffff;
}

.sticky{
  position: sticky;
}